* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background: url(img/nature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  text-align: center;
  color: seagreen;
  text-shadow: 2px 2px 4px rgba(red, green, blue, alpha);
}

.clock {
  display: flex;
}

.clock div {
  margin: 0.8rem;
  position: relative;
}

.clock span {
  width: 6.5rem;
  height: 5rem;
  background-color: slateblue;
  opacity: 0.8;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 2rem;
  font-size: clamp(0.2rem, 0.8rem, 2vh);
  background-color: darkblue;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.clock #ampm {
  bottom: 0;
  position: absolute;
  background-color: green;
  height: 1.8rem;
  width: 3rem;
  font-size: clamp(0.3rem, 1rem, 2vh);
}
