* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: wheat;
}

.slider-container {
  position: relative;
  height: 300px;
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
}

.image-container {
  display: flex;
  transition: 0.4s;
}

.btn {
  position: absolute;
  color: whitesmoke;
  font-size: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}

.btn:hover {
  opacity: 1;
}

.btn.prev {
  left: 10px;
}

.btn.next {
  right: 10px;
}
