* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f5abc9;
  color: grey;
}

img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 30rem;
  margin-bottom: 1.5rem;
}

h3 {
  margin: 1.5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 340px;
  padding: 3rem 0;
}

.tabs {
  background-color: #ffe5e2;
  border-radius: 0.5rem;
  grid-template-rows: auto 1fr;
}

.button {
  padding: 1rem;
  border: none;
  font-size: 1rem;
  background: #b6c9f0;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 0.25rem;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1) {
  border-top-left-radius: 0.5rem;
}

.button:nth-child(3) {
  border-top-right-radius: 0.5rem;
}

.button:hover:not(.live) {
  background: #e93b81;
  color: whitesmoke;
}

.tabs-content {
  padding: 2rem 1.5rem;
}

@media screen and (min-width: 992px) {
  .image {
    margin-bottom: 0;
  }

  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

.content {
  display: none;
}

.content.live {
  display: block;
}

.button.live {
  background-color: #ffe5e2;
}
