* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: aliceblue;
}

.btn {
  background-color: #ffc0cb;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8ps rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: '';
  position: absolute;
  background-color: #ff4500;
  width: 0;
  height: 0;
  top: var(--yPos);
  left: var(--xPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.btn span {
  position: relative;
  z-index: 1;
}
.btn:hover::before {
  height: 300px;
  width: 300px;
}
